
/* HostView */

.host-view {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	box-sizing: border-box;
}

/* Spacer */

.host-view .spacer {
	display: block;
}

/* Text */

.host-view .text {
	margin: 0;
	padding: 0;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

/* Button */

.host-view .button {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	align-self: center;
	border: none;
	outline: none;
	background: inherit;
	font-size: 16px;
}

.host-view .button:active {
	outline: none;
	opacity: 0.5;
}

.host-view .button .text {
	color: #0070c9;
}

/* NavigationView */

.host-view .navigation-view {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.host-view .navigation-view .navigation-bar {
	position: absolute;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 16px 8px 16px;
}

.host-view .navigation-view .navigation-bar .navigation-bar-item {
	position: absolute;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	align-items: center;
}

.host-view .navigation-view .navigation-bar .navigation-bar-item.leading {
	left: 16px;
}

.host-view .navigation-view .navigation-bar .navigation-bar-item.trailing {
	right: 16px;
}

.host-view .navigation-view .navigation-bar .navigation-bar-title {
	justify-self: flex-start;
	align-self: flex-end;
}

.host-view .navigation-view .navigation-bar .navigation-bar-title .text {
	justify-self: flex-start;
	align-self: flex-end;
	font-size: 32px;
	font-weight: 900;
}

/* HStack */

.host-view .h-stack {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	align-self: center;
}

.host-view > .h-stack > .spacer {
	flex-grow: 1;
}

.host-view > .h-stack.leading {
	justify-content: flex-start;
}

.host-view > .h-stack.center {
	justify-content: center;
}

.host-view > .h-stack.trailing {
	justify-content: flex-end;
}

/* VStack */

.host-view .v-stack {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	align-self: center;
}

.host-view .v-stack .spacer {
	flex-grow: 1;
}

.host-view .v-stack.leading {
	justify-content: flex-start;
}

.host-view .v-stack.center {
	justify-content: center;
}

.host-view .v-stack.trailing {
	justify-content: flex-end;
}

/* ScrollView*/

.host-view .scroll-view {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-self: center;
}

.host-view .scroll-view > .expandable.vertical {
	overflow-y: scroll;
}

.host-view .scroll-view > .expandable.horizontal {
	overflow-x: scroll;
}

.host-view .scroll-view .scroll-view-content-view {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: flex-start;
	align-content: center;
	justify-content: center;
}

/* List */

.host-view ul.list {
	list-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.host-view ul.list li.list-cell {
	display: flex;
	min-height: 44px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}

.host-view ul.list li.list-cell > a {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	align-content: center;
	align-items: center;
	border-bottom: 0.5px solid rgba(145, 145, 160, 0.6);
}

.host-view ul.list li.list-cell > a:hover {
	background: #f9f9f9;
}

.host-view ul.list li.list-cell > a .list-cell-content-view {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	align-content: center;
	align-items: center;
}

.host-view ul.list li.list-cell > a > svg {
	position: absolute;
	width: 34px;
	height: 34px;
	right: 4px;
}

/* ScrollView*/

.host-view .split-view {
	box-sizing: border-box;
	display: grid;
	gap: 1px;
	grid-template-rows: auto;
}

.host-view .split-view > div:first-child {
	border-right: 0.5px solid rgba(145, 145, 160, 0.6);
}
